
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
